footer {
    background: rgb(23, 2, 99);
    width: 100%;
    color: white;
}
.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}
.container-body {
    display: flex;
    justify-content: space-between;
}   
.columna1 {
    max-width: 400px;
}
.columna1 h1 {
    font-size: 20px;

}
.columna1 p {
    font-size: 14px;
    color: white;
    margin-top: 20px;
}
.columna2 {
    max-width: 400px;
}
.columna2 h1 {
    font-size: 20px;

}
.row {
    margin-top: 20px;
    display: flex;
}
.row img {
    width: 36px;
    height: 36px;
}
.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}
.columna3 {
    max-width: 400px;
}
.columna3 h1 {
    font-size: 20px;
}
.row2 {
    margin-top: 20px ;
}
.row2 img {
    width: 36px;
    height: 36px;
}
.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 150px;
}
.container-footer {
    width: 100%;
    background: darkblue;
}