<footer>
    <div clas="container-footer-all">
        <div class="container-body">
            <div class="columna1">
                <h1>Acerca de Nosotros</h1>
                <p>
                    Somo  el mejor lugar de conford, ofrecemos desde lugares de descanso, recreacion y deporte con el mejor servicio
                </p>
            </div>
            <div class="columna2">
                <h1>Redes Sociales</h1>
                <div class="row">
                    <img src="#">
                    <label>Siguenos en Facebook</label>
                </div>
                <div class="row">
                    <img src="#">
                    <label>Siguenos en Instagram</label>
                </div>
                <div class="row">
                    <img src="#">
                    <label>Siguenos en Twitter</label>
                </div>
            </div>
            <div class="columna3">
                <h1>Informacion y Contactos</h1>
                <div class="row2">
                    <img src="#">
                    <label>Direccion</label>
                </div>
                <div class="row2">
                    <img src="#">
                    <label>+57 4343223</label>
                </div>
                <div class="row2">
                    <img src="#">
                    <label>conjunto- @gmai- l.com</label>
                </div>
                
            </div>
        </div> 
    </div>
    <center>
    <div class="container-footer">
        © Todos los derechos reservados
    </div>
    </center>
</footer>